header {
    #banner-int {
        .thanks-msg {
            margin-bottom: 3rem;
            margin-top: 5rem;
        }
    }
}

main {
    .valid-form {
        max-width: 500px;
        background-color: $color__background;
        padding: 2rem;
        margin-bottom: 8rem;
    }
}